<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
  {{.Hugo.Generator}}

  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>

  <!-- CSS -->
  {{ $purecss := "https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/" }}
  <link rel="stylesheet" href="{{ $purecss }}pure-min.css">

  {{ "<!--[if lte IE 8]>" | safeHTML }}
  <link rel="stylesheet" href="{{ $purecss }}grids-responsive-old-ie-min.css">
  {{ "<![endif]-->" | safeHTML }}
  {{ "<!--[if gt IE 8]><!-->" | safeHTML }}
  <link rel="stylesheet" href="{{ $purecss }}grids-responsive-min.css">
  {{ "<!--<![endif]-->" | safeHTML }}

  {{ "<!--[if lte IE 8]>" | safeHTML }}
  <link rel="stylesheet" href="/css/side-menu-old-ie.css">
  {{ "<![endif]-->" | safeHTML }}
  {{ "<!--[if gt IE 8]><!-->" | safeHTML }}
  <link rel="stylesheet" href="https://jakecoltman.gitlab.io/website/css/side-menu.css">
  {{ "<!--<![endif]-->" | safeHTML }}

  <link rel="stylesheet" href="https://jakecoltman.gitlab.io/website/css/blackburn.css">

  <!-- Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}index.xml" />
  <script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  {{ with .Site.Params.highlightjs }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/{{ . }}.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{ end }}

  {{ partial "favicon.html" . }}

</head>
